svg {
  max-height: 400px;
  margin: 0 auto;
}

.hello {
  fill: none;
  stroke: #cfcfcf;
  stroke-width: 3px;
}

.world {
  fill: none;
  stroke: #cfcfcf;
  stroke-width: 3px;
}

.hello-outline,
.world-outline {
  fill: none;
}
